body {
    font-family: Verdana;

}
header{
    background: #AFAFAF;
    color: #FF5F00;
    text-align: center;
}
a {
    text-decoration: none;
    font-weight:bold;
    color:white;
    padding:5px;
    background:#0082D1;
    border-radius:5px,5px,5px,5px;
    border:1px solid #afafaf;
    MARGIN:2px;
}
a:hover{
    text-decoration: none;
    font-weight:bold;
    color:#FF5F00;
    padding:5px;
    background:#AFAFAF;
}
table {
    border-collapse: collapse;
    width: 80%;
    box-shadow: 5px 5px grey;
    margin-left: auto;
    margin-right: auto ;
}
table thead tr{
    background-color:#76B900;
    color:white;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
}
td{
    height: 20px;
    padding: 4px;
}

footer{
    background: #FF5F00;
    color: black;
    text-align: center;
    border-radius:5px,5px,5px,5px;
    font-size-adjust: 0.25
}
